@import url('https://fonts.googleapis.com/css?family=Asap Condensed');

body
{
	font-family: 'Asap Condensed';
	font-size: 22px;
	background-color: #48324a;
	margin: 0px;
	padding: 0px;
}

.nav
{
	text-align: center;
	width: 100%;
	background-color: #48324a;
	border-bottom: 3px solid white;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #48324a;
    display: inline-block;
    margin: -5px;
}

.nav li {
    float: left;
}

.nav li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.nav li a:hover{
    background: #ffffff;
    color: #48324a;
    transition: background 1s;
}

.nav li.active a
{
	background-color: #ffffff;
	color: #48324a;
}

.banner .banner_img
{
	
	width: 100%;
	display: block;
	background-size: cover;
	background-position: center;
	position: relative;
}

.main
{
	color: white;
}

.main h1
{
	font-size: 50px;
	text-align: center;
}

.main h2
{
	text-align: center;
	font-style: italic;
}

.main .cite
{
	font-size: 15px;
}

.main .cite a 
{
	color: white;
	text-decoration: none;
}

.main .cite a:hover
{
	color: #271d28;
	transition: color .5s;
}

.main_section
{
	padding: 20px;
}

.main .bac_form
{
	text-align: center;
}

/*
.main input
{
	display:inline-block;
	text-align: center;
}
*/