@import url('https://fonts.googleapis.com/css?family=Asap Condensed');

body
{
	font-family: 'Asap Condensed';
	font-size: 22px;
	background-color: #9b594a;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: auto;
}

.nav
{
	font-family: 'Asap Condensed';
	font-size: 22px;
	text-align: justify;
	width: auto;
	background-color: #9b594a;
	border-bottom: 3px solid #202743;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #9b594a;
    display: flex;
  	justify-content: space-around;
    margin: 0px;
    padding: 0px;

}

.nav li {
    float: left;
    width: 100%
}

.nav li a{
    display: inline-block;
    color: #202743;
    text-align: center;
    padding:14px 0px;
    text-decoration: none;
    width: inherit;
}

.nav li a:hover{
    background: #202743;
    color: #9b594a;
    transition: background 1s;
}

.nav li.active a
{
	background-color: #202743;
	color: #9b594a;
}

.banner .banner_img
{
	
	width: 100%;
	display: block;
	background-size: cover;
	background-position: center;
	position: relative;
}

.main
{
	font-family: 'Asap Condensed';
}

#norm 
{
	color: #202743;
}

.main h1
{
	color: white;
	font-family: 'Asap Condensed';
	font-size: 50px;
	text-align: center;
}

.main h2
{
	font-family: 'Asap Condensed';
	text-align: center;
	font-style: italic;
}


.main h4
{
	font-family: 'Asap Condensed';
	font-size: 70px;
	font-style: italic;
	text-align: center;
	margin: 50px;
	width: auto;
	color: white;
}


#call
{
	font-size: 30px;
	font-style: normal;
}

#sourc
{
	font-size: 15px;
}


.main .cite a 
{
	color: #602b1f;
	text-decoration: none;
	text-align: center;
}

.main .cite a:hover
{
	color: #202743;
	transition: color .5s;
}

.main_section
{
	padding: 10px 0px;
	position: relative;
	width: 100%;
}

.first_text
{
	position: relative;
	opacity: 0;
	transition: opacity 1s;
}

.first_img img
{
	position: absolute;
	text-align: center;
	top: -15px;
	left: 50%;
	margin-left: -100px;
	opacity: 1;
	transition: opacity 1s;
}

.container_1:hover .first_text
{
	opacity: 1;
}

.container_1:hover img
{
	opacity: 0;
}

.second_text
{
	position: relative;
	opacity: 0;
	transition: opacity 1s;
}

.second_img img
{
	position: absolute;
	text-align: center;
	top: 10px;
	left: 50%;
	margin-left: -100px;
	opacity: 1;
	transition: opacity 1s;
}

.container_2:hover .second_text
{
	opacity: 1;
}

.container_2:hover img
{
	opacity: 0;
}

.third_text
{
	position: relative;
	opacity: 0;
	transition: opacity 1s;
}

.third_img img
{
	position: absolute;
	text-align: center;
	top: 10px;
	left: 50%;
	margin-left: -100px;
	opacity: 1;
	transition: opacity 1s;
}

.container_3:hover .third_text
{
	opacity: 1;
}

.container_3:hover img
{
	opacity: 0;
}

.fourth_text
{
	position: relative;
	opacity: 0;
	transition: opacity 1s;
}

.fourth_img img
{
	position: absolute;
	text-align: center;
	top: 45px;
	left: 50%;
	margin-left: -100px;
	opacity: 1;
	transition: opacity 1s;
}

.container_4:hover .fourth_text
{
	opacity: 1;
}

.container_4:hover img
{
	opacity: 0;
}

.fifth_text
{
	position: relative;
	opacity: 0;
	transition: opacity 1s;
}

.fifth_img img
{
	position: absolute;
	text-align: center;
	top: 45px;
	left: 50%;
	margin-left: -100px;
	opacity: 1;
	transition: opacity 1s;
}

.container_5:hover .fifth_text
{
	opacity: 1;
}

.container_5:hover img
{
	opacity: 0;
}

.purpbg
{
	background-color: #9b594a;
	color: #202743;
}

.whitebg
{
	background-color:  #202743;
	color: #9b594a;
}

.main .bac_form
{
	text-align: center;
}


.main .bac_form .form_box
{
	display: flex;
	justify-content: center;
	align-items: center;
}

#first_box
{
	display:inline-block;
}

#second_box
{
	display:none;
}

#third_box
{
	display:none;
}

#fourth_box
{
	display:none;
}

#recalc_button
{
	margin: 20px;
}

.main #bac_print
{
	font-size: 30px;
	text-align: center;
	display: none;
}

.main #bac_print #bac_value
{
	font-size: 60px;
	color:white;
}

.main h2.bac_lvl
{
	font-style: normal;
}

#bac_message
{
	font-size: 30px;
}

.main .bac_form .form_box .arrow
{
	padding-left: 5rem;
	padding-top: 2.5rem;
}

.main input[type=image]:hover
{
	content: url("../images/submit_hover.png");
	width: 60px;
	height: 60px;
}

.main .arrow
{
	float:left;
}

.main input[type=image]
{
	display: flex;
	vertical-align: center;
}

.main input[type=radio]
{
    font-size: 40px;
}

.main input[type=number]
{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
}

.main input:focus
{
	outline: 0px;
}


.wrapper
{
	width: 100%;
	margin: 0px auto;
	display: flex;
  	align-items:center;
  	justify-content: center;
}

.left
{
	float: left;
}

.left h1
{
	font-family: 'Asap Condensed';
	font-size: 50px;
	text-align: center;	
	color: #202743;
	font-style: italic;
}

.right 
{
	height: 100%;
	margin-left: 100px;
}

.right .button_call {
  border-radius: 4px;
  background-color: #202743;
  border: none;
  color: #9b594a;
  text-align: center;
  font-size: 28px;
  font-family: 'Asap Condensed';
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  outline: none;
  
}

.button_call span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_call span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_call:hover span {
  padding-right: 25px;
}

.button_call:hover span:after {
  opacity: 1;
  right: 0;
}

.map 
{
	color:black;
}

.nice_button
{
	background: #202743;
	font-family: 'Asap Condensed';
	font-size: 20px;
	color: #9b594a;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 15px 5px;
    cursor: pointer;
    transition: all 1s;
}

.nice_button:hover 
{
	color: #202743;
	background: #9b594a;
}